.mainBox.hide {
  display: none;
}

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  position: relative;
}

.message.show {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 15px;
}

.message.hide {
  display: none;
}

.title {
  font-size: 1.5rem;
}

[class^="message__BTN--"] {
  background-color: rgb(95, 94, 93);
  border-radius: 8px;
  color: #f48c25;
  font-weight: 900;
  margin-top: 15px;
}

.message__BTNS {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message__BTN--si {
  padding: 2px 24px;
}

.message__BTN--no {
  padding: 2px 19px;
}

.message__BTN--si:hover {
  -webkit-box-shadow: 1px 1px 125px 8px rgba(255, 0, 0, 1);
  -moz-box-shadow: 1px 1px 125px 8px rgba(255, 0, 0, 1);
  box-shadow: 1px 1px 125px 8px rgba(255, 0, 0, 1);
  color: rgb(95, 94, 93);
  background-color: #f48c25;
}

.heart {
  isolation: isolate;
  overflow: hidden;
}

.heart__message {
  font-size: 2rem;
  text-align: center;

  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.heart__box {
  width: 100vw;
  height: 100vh;
}

svg {
  transform: scale(3) !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.footer a {
  color: #f48c25;
}

.lookigForAJob {
  font-size: 0.8rem;
}
