:root {
  --background-color-btn: #5f5e5d;
  --text-color: #f48c25;
  --share-BTN-background: #f48c25;
  --share-BTN-text-color: #5f5e5d;
}

body {
  position: relative;
}

.mainBox.hide {
  display: none;
}

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  position: relative;
}

.message.show {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 15px;
}

.message.hide {
  display: none;
}

.title {
  font-size: 1.5rem;
}

[class*="__BTN--"],
.share__BTN {
  border-radius: 8px;
  font-weight: 900;
  margin-top: 15px;
}

[class*="__BTN--"] {
  background-color: var(--background-color-btn);
  color: var(--text-color);
}

.share__BTN {
  background-color: var(--share-BTN-background);
}

.share__BTN a {
  color: var(--share-BTN-text-color);
  font-weight: bold;
}

.message__BTNS {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message__BTN--si,
.share__BTN {
  padding: 2px 24px;
}

.share__BTN {
  margin-block-end: 20px;
}

.message__BTN--no {
  padding: 2px 19px;
}

.message__BTN--si:hover {
  -webkit-box-shadow: 1px 1px 125px 8px rgba(255, 0, 0, 1);
  -moz-box-shadow: 1px 1px 125px 8px rgba(255, 0, 0, 1);
  box-shadow: 1px 1px 125px 8px rgba(255, 0, 0, 1);
  color: var(--background-color-btn);
  background-color: var(--text-color);
}

.heart {
  isolation: isolate;
  overflow: hidden;
}

.heart__message {
  font-size: 2rem;
  text-align: center;

  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.heart__box {
  width: 100vw;
  height: 100vh;
}

svg {
  transform: scale(3) !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

.footer > .developerMessage a {
  color: var(--text-color);
}

.lookigForAJob {
  font-size: 0.8rem;
}
